body{
    background-color: bisque;
    color:rgb(10, 7, 7);
    font-size: 7mm;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}
h1{
    color: rgb(14, 24, 78);
}
.pill{
    margin-top: 0px;
    text-align: left;
    float: left;
}
.img1{
    margin-top: 10px;
    width: 500px;
    height: 350px;
    border:solid;
    border-color: rgb(107, 103, 107);
    float: right;
    margin-left:auto;

}
.pillv{
    display: flex;
    justify-items: space-around;
    margin-top: 10px;
   margin-left: 30px;
   position: relative;
}
.v1{
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}
.mall{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.img2{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    width: 3500px;
    height: 450px;
    border:solid;
    border-color:rgb(12, 9, 12);
    margin-right: 45px;
}
.under{
    margin-top: 0px;
    text-align: left;
    float: left;
}
.img3{
margin-top: 10px;
width: 500px;
height: 350px;
border:solid;
border-color: rgb(150, 60, 145);
float: right;
margin-left:auto;
}
.underv{
    display: flex;
    justify-items: space-around;
    margin-top: 10px;
   margin-left: 30px;
   position: relative;
}
.v2{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}
.beech{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.img4{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 450px;
    height: 370px;
    border:solid;
    border-color:rgb(61, 60, 150);
    margin-right: 45px;
    margin-bottom: 15px;
}
.hill{
    margin-top: 0px;
    text-align: left;
    float: left;
}

.img5{
    margin-top: 10px;
width: 500px;
height: 350px;
border:solid;
border-color: rgb(50, 54, 117);
float: right;
margin-left:auto;
}
.hillv{
    display: flex;
    justify-items: space-around;
    margin-top: 0px;
   margin-left: 30px;
   position: relative;
}
.v3{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}
.araku{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.img6{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 450px;
    height: 380px;
    border:solid;
    border-color:rgb(38, 77, 35);
    margin-right: 45px;
    margin-bottom: 15px;
}
.pap{
    margin-top: 0px;
    text-align: left;
    float: left;
}
.img7{
    margin-top: 10px;
    width: 500px;
    height: 350px;
    border:solid;
    border-color:rgb(22, 44, 20); 
    float: right;
    margin-left:auto;

}
.papiv{
    display: flex;
    justify-items: space-around;
    margin-top: 0px;
   margin-left: 50px;
}
.v4{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    margin-left:50px;
    
}   
.caves{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.img8{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 450px;
    height: 380px;
    border:solid;
    border-color:rgb(77, 65, 35);
    margin-right: 45px;
    margin-bottom: 15px;
}
.beach{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.img9{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 450px;
    height: 380px;
    border:solid;
    border-color:rgb(41, 88, 82);
    margin-right: 45px;
    margin-bottom:  15px;
}
.lep{
    margin-top: 0px;
    text-align: left;
    float: left;
}
.img10{
    margin-top: 10px;
    width: 500px;
    height: 350px;
    border:solid;
    border-color:rgb(22, 44, 20); 
    float: right;
    margin-left:auto;

}
.lepv{
    display: flex;
    justify-items: space-around;
    margin-top: 0px;
   margin-left: 50px;
}
.v5{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    margin-left:50px;
    
}   